{% set proxy = resolved_run_proxy_profile['omni-proxy'] -%}
#!/bin/bash
. ~/.bashrc

{{ resolved_run_proxy_profile.prepare_commands }}

prefill_result="{{ PREFILL_API_SERVER_LIST }}"
prefill_result=`echo "$prefill_result" | awk '$1=$1'`

decode_result=""
decode_api_servers="{{ DECODE_API_SERVER_LIST }}"
decode_api_servers=`echo "$decode_api_servers" | awk '$1=$1'`
decode_array=(${decode_api_servers//,/ })
for var in ${decode_array[@]}; do
  address=${var%@*}
  ip=${address%:*}
  port=${address#*:}
  num=${var#*@}
  for ((i=0; i<=$num;i++)); do
    if [[ -z ${decode_result} ]]; then
      decode_result="$ip:$port"
    else
      decode_result="${decode_result},$ip:$port"
    fi
    ((port++))
  done
done

cd {{ proxy.workdir }}
{{ proxy.command }} \
    --listen-port "$PROXY_NODE_PORT" \
    --prefill-endpoints "$prefill_result" \
    --decode-endpoints "$decode_result"{% for argument in proxy.args %} \
    {{ argument }}{% endfor %} \
    --reload > ${LOG_PATH}/{{ inventory_hostname }}/run_reload_log.log 2>&1 &
