{% set profile = resolved_run_server_prefill_profile -%}
{% set common_profile = run_server_common_profile_defaults | combine(run_server_common_profile, recursive=true) -%}
#!/bin/bash

. ~/.bashrc
KV_PARALLEL_SIZE=$((OMNI_PD_PREFILL_POD_NUM + 1))
export PREFILL_TENSOR_PARALLEL_SIZE={{ ascend_rt_visible_devices.split(',') | length }}
unset https_proxy
unset http_proxy
unset proxy

{{ profile.prepare_commands }}

kv_role="kv_producer"

if [ $(echo -n "$NODE_IP_LIST" | tr -cd ',' | wc -c) -ge 1 ]; then
  export MASTER_NODE_IP=$HOST_IP
  export NNODES=$NNODES
  export NODE_RANK=$NODE_RANK
  export NODE_IP_LIST=$NODE_IP_LIST
  export RAY_EXPERIMENTAL_NOSET_ASCEND_RT_VISIBLE_DEVICES=1
  export RAY_CGRAPH_get_timeout=7200
  ray stop --force
{% if profile.multi_node_backend is not none %}  EXTRA_ARGS="${EXTRA_ARGS} --distributed-executor-backend {{ profile.multi_node_backend }}"
{% endif %}
  node_count=$(( $(echo -n "$NODE_IP_LIST" | tr -cd ',' | wc -c) + 1 ))
  PREFILL_TENSOR_PARALLEL_SIZE=$(( PREFILL_TENSOR_PARALLEL_SIZE * node_count ))
else
  EXTRA_ARGS="${EXTRA_ARGS} --distributed-executor-backend mp"
fi

cd {{ profile.workdir }}
bash {{ profile.workdir }}/{{ profile.runner }} \
  --local-decode-server-ip-list "$SERVER_IP_LIST" \
  --global-decode-server-ip-list "$SERVER_IP_LIST" \
  --prefill-pod-num ${OMNI_PD_PREFILL_POD_NUM} \
  --gloo-socket-ifname ${SOCKET_IFNAME} \
  --tp-socket-ifname ${SOCKET_IFNAME} \
  --model-path {{ model_path | quote }} \
  --master-ip ${HOST_IP} \
  --role "prefill" \
  --kv-role ${kv_role} \
  --master-port ${MASTER_PORT} \
  --base-api-port ${API_PORT} \
  --tp ${PREFILL_TENSOR_PARALLEL_SIZE} \
  --ascend-rt-visible-devices {{ ascend_rt_visible_devices | quote }} \
  --use-inventory-devices 1 \
  --kv-rank {{ kv_rank | quote }} \
  --kv-engine-id {{ kv_rank | quote }} \
  --kv-parallel-size ${KV_PARALLEL_SIZE} \
  --kv-connector {{ common_profile.kv_connector }} \
{% for argument in profile.args -%}
{{ '  ' }}{{ argument }} \
{% endfor -%}
{{ '  ' }}--log-dir "${LOG_PATH}/{{ inventory_hostname }}" > ${LOG_PATH}/{{ inventory_hostname }}/run_prefill.log 2>&1 &
